/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  margin: 10px !important;
}
.breadcrumb {
  margin-top: 8px;
}
.mt-10 {
  margin-left: 8px !important;
}
